@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Quizle</h1>
    <h3>A game to test your knowledge in various topics.</h3>
    <p class="text-white">Register now to start playing!</p>
</div>

