@using Quizle.Web.Models
@using Quizle.Web.Models.Quiz;
@model QuizViewModel

<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="question bg-white p-3 border-bottom">
                <div class="d-flex flex-row justify-content-between align-items-center mcq">
                    <h4>Select your answer.</h4><span>You have 15 seconds to answer.</span>
                </div>
            </div>
            <partial name="_QuizPartial"/>            
        </div>
    </div>
</div>
@section Scripts{
    <script>
    $(document).ready(function () {
        console.log('in');

        const myTimeout = setTimeout(timeOut, 15000);

        function timeOut() {
            console.log("in");
            var selectedAnswer = 'Not Selected';
            var question = '@Model.Question';
            console.log(question);
            var difficulty = @Model.Difficulty;
            var t = $("input[name='__RequestVerificationToken']").val();
            console.log(difficulty);
            $.ajax({
                type: "POST",
                url: "@Url.Action("Quiz", "Quiz")",
                data: { selectedAnswer: selectedAnswer, question: question, difficulty: difficulty },
                dataType: "html",
                headers:
                {
                    "RequestVerificationToken": t
                },
                success: function (response) {
                    
                    console.log(response);
                    document.open;
                    document.write(response);
                    document.close;
                },
                error: function (req, status, error) {
                    
                    console.log(response);
                }
            });

        }
    });
</script>
}
