@using Quizle.Web.Models
@model List<LeaderboardProfileViewModel>
<link href="~/css/leaderboard.css" rel="stylesheet" />


<div class="leaderboardcontainer">
    <div class="leaderboard">
        <div class="head">
            <h1 class="mt-3">Top 5 Players</h1>
        </div>
        <div class="leaderboardbody">
            <ol>
                @foreach (var leaderboardProfile in Model)
                {
                    <form asp-action="Profile" asp-controller="Profile" asp-route-username="@leaderboardProfile.Username">
                    <li>

                        <mark>@leaderboardProfile.Username</mark>                        
                        <a class="text-center mt-2 mx-3">QP: @leaderboardProfile.QuizPoints</a>
                        <input type="submit" value="View Profile" class="btn" style="background-color: black !important">
                    </li>
                    </form>
                }
            </ol>
        </div>
        <div class="mb-1">

            <h7>Click on View Profile to display a User's profile</h7>
        </div>
    </div>
</div>