
<link href="~/css/leaderboard.css" rel="stylesheet" />


        <div class="leaderboardcontainer">
            <div class="leaderboard">
                <div class="head">
                    <h1 class="mt-3">Most active Players</h1>
                </div>
                <div class="leaderboardbody">
                    <ol>
                        <li>
                            <mark>Jerry Wood</mark>
                            <small>948</small>
                        </li>
                        <li>
                            <mark>Brandon Barnes</mark>
                            <small>750</small>
                        </li>
                        <li>
                            <mark>Raymond Knight</mark>
                            <small>684</small>
                        </li>
                        <li>

                            <mark>Trevor McCormick</mark>
                            <small>335</small>
                        </li>
                        <li>
                            <mark>Andrew Fox</mark>
                            <small>296</small>
                        </li>
                    </ol>
                </div>
                <div class="mb-1">
                    
                    <h7>Most active Players</h7>
                </div>
            </div>
        </div>