@using Microsoft.AspNetCore.Identity
@using Quizle.DB.Models
@inject UserManager<ApplicationUser> userManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quizle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Quizle.styles.css" asp-append-version="true" />
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold text-white" asp-area="" asp-controller="Home" asp-action="Index">Quizle</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Quiz" asp-action="All">All Available Quizzes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Badge" asp-action="Add">Add Badge</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Badge" asp-action="All">All Badges</a>
                            </li>

                            
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        }

                    </ul>
                    
                    <ul class="navbar-nav aflex-grow-1" style="float: right">
                         @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item mx-1">
                                <a class="nav-link" style="color: #dd2476;" asp-area="" asp-controller="Badge" asp-action="All">QP: @userManager.FindByNameAsync(User?.Identity?.Name).Result.CurrentQuizPoints</a>
                            </li>
                            <li class="nav-item mx-1">
                                <a class="nav-link text-light"  asp-area="" asp-controller="Profile" asp-action="Profile">View Profile</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer id="footer" class="sticky" style="">
@*    <footer class="border-top footer text-muted">
*@        <div class="container">
            &copy; @DateTime.Now - Quizle -
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
